@font-face {
  font-family: "Relindo";
  src: url("../assets/Relindo.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 70px;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.hero-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-left::before {
  content: "";
  position: absolute;
  width: 420px;
  height: 420px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(40px);
}

.hero-left img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  transition: transform 0.5s ease;
  position: relative;
  z-index: 1;
  filter: brightness(80%);
}

.hero-left img:hover {
  transform: translateY(-5px) scale(1.05);
}

.hero-right {
  color: #f0e5d4;
}

.hero-title {
  font-family: "Relindo", cursive;
  font-size: 150px;
  margin: 10px;
  line-height: 1.1;
  letter-spacing: 10px;
  display: inline-block;
  transition: transform 0.5s ease;
}

.hero-title:hover {
  transform: translateY(-5px) scale(1.05);
}

.hero-name {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin: 5px;
  font-weight: 400;
  letter-spacing: 3px;
}

.hero-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 50px;
  font-weight: 200;
}

.hero-socials,
.hero-links {
  flex: 1;
}

.hero-socials p,
.hero-links p {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin: 5px 0;
  color: rgb(255, 255, 255);
}

.hero-socials {
  text-align: left;
}

.hero-links {
  text-align: right;
}

.hero-links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero-socials a {
  color: white;
  text-decoration: none;
}

.hero-links a:hover {
  color: #ccc;
}

.hero-socials a:hover {
  color: #ccc;
}

.icon {
  color: white;
  font-size: 1.5rem;
}

/* Mobile screens */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: auto;
    margin-top: 100px;
  }

  .hero-right {
    order: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .hero-title {
    order: 1;
    font-size: 60px;
    text-align: center;
  }

  .hero-name {
    order: 2;
    font-size: 20px;
  }

  .hero-left {
    order: 2;
    margin: 20px 0;
  }

  .hero-left img {
    max-width: 250px;
    height: auto;
  }

  .hero-details {
    order: 3;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .hero-socials,
  .hero-links {
    text-align: center;
    flex: unset;
  }

  .hero-socials p,
  .hero-links p {
    font-size: 20px;
  }

  .icon {
    font-size: 1.3rem;
  }
}
