@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.navbar {
  width: 100%;
  height: 100px; /* fiksna visina */
  background-color: rgba(21, 124, 134, 0.785);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center; /* vertikalno centriranje */
  padding: 0 20px;
  box-sizing: border-box;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* vertikalno centriranje */
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.logo img {
  height: 150px; /* uvećaj broj, npr. 80px, 100px */
  width: auto; /* da ostane proporcionalno */
  object-fit: contain;
  display: block; /* umesto flex */
  transform: translateY(-15%); /* pomeri gore da se vizuelno centrira */
}

/* Linkovi */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 60px; /* da se linkovi vertikalno centriraju */
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ccc;
}

/* Language switcher */
.language-switch {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 60px;
  transition: transform 0.3s, color 0.3s;
}

.language-switch:hover {
  transform: scale(1.1);
  color: #ccc;
}

.flag-icon {
  width: 28px; /* prilagodi veličinu */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

.flag-icon:hover {
  transform: scale(1.2);
}

/* Hamburger meni */
.nav-icon {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100px;
    left: -100%;
    flex-direction: column;
    width: 100%;
    background-color: rgba(21, 124, 134, 0.785);
    text-align: center;
    transition: max-height 0.8s ease-in-out;
    padding: 10px 0;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-icon {
    display: block;
  }

  .nav-links a,
  .language-switch {
    line-height: normal;
    padding: 10px 0;
    font-size: 16px;
  }
}
